.locationSet
{
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgb(241,239,206);
    background: linear-gradient(126deg, #b6dac9 0%, #8bdbb6 58%, #69e7ac 85%);

    .locationForm{
        width :580px
    }
    .buttonGroup{
        
        display : flex;
        justify-content: space-between;
        width : 50%;
        margin : 0 auto;
        
    }
}